@import url(./public/css/utilities.css);
@import url(./public/pages/product/product.css);
@import url(./public/pages/cart/cart.css);
@import url(./public/pages/wishlist/wishlist.css);

:root{
    --light-background:rgba(255,255,255,.8); 
    --dark-background: rgba(0,0,0,.2);
    --linear-gradient-bg-dark: linear-gradient(180deg, rgba(22, 21, 21,.9),rgba(22, 21, 21,.1));
    --linear-gradient-bg-light: linear-gradient(180deg, rgba(22, 21, 21,.1),rgba(22, 21, 21,.1));
}

.profile-icon{
    position: relative;
}

.card-input-signup{
    position: absolute;

    background-color: aqua;
    border: 1px salmon;
}


/* ------------------hero banner stylng------------ */

.hero-banner{
    background:var(--navbar-bg-color);
    color: var(--white);
    font-family: var(--poppins);
}

.hero-banner-inner-container{
    gap: 2rem;
}

.banner-left-section{
    width: 50%;
    justify-content: space-around;
    align-items:flex-start;
    gap: .5rem;
    margin: 2rem 0;
}
.banner-left-section .para-5{
    text-transform: uppercase;
    letter-spacing: 2px;
    align-self: flex-start;
    margin-bottom: 1rem;
}
.banner-left-section .heading-3{
    font-family: var(--aguafina);
    /* text-transform: uppercase; */
    font-size: 4rem;
    line-height: 1;
    letter-spacing: .25rem;
    font-weight: 600;
   
}

.banner-left-section .heading-1{
    font-size: 6rem;
    line-height: 1;
    font-weight: 700;
}
.banner-left-section .btn{
    border: 2px solid var(--white);
    background: var(--white);
    color: var(--navbar-bg-color);
    border-radius: 2rem;
    margin-top: 2rem;
}
.banner-left-section .btn:hover{
    border: 2px solid var(--white);
    background-color: transparent;
    color: var(--white);
}

.banner-right-section{
    width: 50%;
    align-self: flex-end;
    display: flex;
    justify-content: flex-start;    
    align-items: flex-end;

}
.hero-image{
    width: 100%;
    height: auto;
}

/* ------------------gender card stylng------------ */
.gender-cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.gender-card{
    display: grid;
    grid-template-rows: 250px;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    text-transform: uppercase;
}

.gender-card:hover {
  opacity: .8;
}

.card-women{
    background-image: var(--linear-gradient-bg-dark), url(./public/images/women.jpg);
}
.card-women > h2{
    margin-right: 1rem;
    justify-self: end;
}
.card-new-arrival{
    background-image: var(--linear-gradient-bg-dark), url(./public/images/new_arrival.jpg);
}
.card-new-arrival > h2{
    /* text-align: center; */
    justify-self: center;
}
.card-men{
    background-image: var(--linear-gradient-bg-dark), url(./public/images/men.jpg);
}
.card-men > h2{
    margin-left: 1rem;
    justify-self: start;
}
/* -------------------Category section------------------*/
.category-container{
    margin-top: 3rem;
    text-align: center;
}
.category-card-container{
    margin:1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    gap: 1rem;

}

.card{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-position: center;
}
.card:hover{
    opacity: .8;
}
.card p{
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    background:var(--navbar-bg-color);
    color: var(--white);
    padding: .5rem 0;

   
}
.card-shirt{
    background-image: var(--linear-gradient-bg-light),url(./public/images/shirt.jpg);
}

.card-tshirt{
    background-image: var(--linear-gradient-bg-light), url(./public/images/t-shirt.jpg);
}

.card-jean{
    background-image: var(--linear-gradient-bg-light), url(./public/images/jeans.jpg);
}

.card-wallet{
    background-image: var(--linear-gradient-bg-light), url(./public/images/wallet.jpg);
}

.card-shoe{
    background-image: var(--linear-gradient-bg-light), url(./public/images/shoes.jpg);
}
/* -------------------Offer card styling------------------ */
.offer-section{
    margin: 3rem 0;
    text-align: center;
    background-image: url(./public/images/backround\ for\ banner\ secttions\ and\ sop\ page.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem 0;
}

.offer-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-auto-rows: 200px;
    gap: 2rem;
    margin-top: 1rem;
}
.offer-card{
    background:var(--light-background); 
    justify-content: center;
}

.coupon-code{
    background-color: var(--dark-background);
    margin-top: 1rem;
    padding: .5rem;
}








/* ----------------Footer Styling----------- */
.footer-section{
    background-color: var(--navbar-bg-color);
    color: var(--white);
    padding: 2rem 0;
}
.footer-section  a{
    color: inherit;
}
.footer-section  a:hover{
    opacity: .5;
}

.footer-container{
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.footer-container .brand{
    font-size: 1.5rem;
}

.footer-heading{
    color: var(--secondary-color-medium);
    font-size: .75rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
}
.footer-container ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: .5rem;
}
.footer-container .scroll-to-top{
    font-size: 2.5rem;
    text-align: center;
}

.scroll-to-top p{
    color: var(--secondary-color-medium);
}

@media screen and (max-width:520px){
    .banner-left-section .heading-3{
        font-size: 3rem;
    }
    .banner-left-section .heading-1{
        font-size: 4rem;
    }
}


::-webkit-scrollbar-track{
    background: var(--navbar-bg-color);
}
::-webkit-scrollbar-thumb{
    background: var(--white);
}

/* -------------------Media queries------------------ */

@media screen and (max-width:950px){
    .banner-right-section{
        width: 70%;
    }
    .banner-left-section{
        width: 30%;
    }
}

@media screen and (max-width:650px){
    .html{
        font-size: 10px;
    }
    .hero-banner-inner-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-right-section{
        width: 100%;
    }
    .banner-left-section{
        align-self: center;
        width: 100%;
        align-items: center;
        gap: 1rem;
    }
    .banner-left-section .para-5{
        align-self: center;
    }
    .nav-items{
        display: none;
    }
}
