
.container{
    width: 80%;
    max-width: 968px;
    margin: 0 auto;

}

.outer-container
{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

}

.login-card-container,
.signup-card-container{
    min-height: 90vh;
    display: grid;
    place-items: center;
    
    background-color: #ffffff;
    opacity: 0.9;
    background-image: radial-gradient(#161515 0.55px, #ffffff 0.55px);
    background-size: 11px 11px;
}

.flex-row-nowrap{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-row-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-column-nowrap{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-column-wrap{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.section-heading{
    color: var(--navbar-bg-color);
    font-family: var(--aguafina);
}

